* {
    margin: 0;
    padding: 0;
}

@media (min-width:993px) and (max-width: 1198px){
    .container {
        max-width: 970px;
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}


@media (min-width: 415px) and (max-width: 766px) {
    .container {
        max-width: 400px;
    }
}

@media (min-width: 360px) and (max-width: 667px) {
    .container {
        max-width: 359px;
    }
}

@media (max-width: 359px){
    .container {
        max-width: none;
    }
}

.head {
    height: 30px;
}

.background {
    background-color: #4dab7d;
}

.mainbutton {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-evenly;
}

.nameplayers {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-evenly;
}

.button__start {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    color: black;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button__start:hover {
    border-bottom: 2px solid #63b88b;
}

.button__active {
    border-bottom: 2px solid #63b88b;
}

.container {
    width: 1000px;
    height: 450px;
    margin: 0 auto;
}

.square {
    margin: 0 auto;
    padding-top: 50px;
    /* width: 500px; */
    height: 500px;
    display: none;
}

.square_line1 {
    display: flex;
    justify-content: center;
}

.square_1,
.square_2,
.square_3,
.square_4,
.square_5,
.square_6,
.square_7,
.square_8,
.square_9 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square_1 {
    width: 100px;
    height: 100px;
    border-bottom: 5px solid #459970;
}

.square_2 {
    width: 100px;
    height: 100px;
    border-left: 5px solid #459970;
    border-right: 5px solid #459970;
    border-bottom: 5px solid #459970;
}

.square_3 {
    width: 100px;
    height: 100px;
    border-bottom: 5px solid #459970;
}

.square_line2 {
    display: flex;
    justify-content: center;
}

.square_4 {
    width: 100px;
    height: 100px;
    border-bottom: 5px solid #459970;
}

.square_5 {
    width: 100px;
    height: 100px;
    border-left: 5px solid #459970;
    border-right: 5px solid #459970;
    border-bottom: 5px solid #459970;
}

.square_6 {
    width: 100px;
    height: 100px;
    border-bottom: 5px solid #459970;
}

.square_line3 {
    display: flex;
    justify-content: center;
}

.square_7 {
    width: 100px;
    height: 100px;
}

.square_8 {
    width: 100px;
    height: 100px;
    border-left: 5px solid #459970;
    border-right: 5px solid #459970;
}

.square_9 {
    width: 100px;
    height: 100px;
}

.restart {
    text-align: center;
}

.button__restart {
    background-color: white;
    border: none;
    color: #63b88b;
    text-decoration: none;
    font-size: 30px;
    padding-top: 10px;
    font-weight: 700;
}

.symbol_x::after,
.symbol_o::after {
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-size: auto 30px;
    height: 30px;
    width: 30px;
}

.symbol_x::after {
    background-image: url("./x.svg");
}

.symbol_o::after {
    background-image: url("./o.svg");
}