* {
    margin: 0;
    padding: 0;
}

.head {
    height: 30px;
}

.mainpage {

}

.background {
    background-color: #04819E;
}
.mainbutton {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-evenly;
}

.nameplayers {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-evenly;
}

.button__start {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5); 
    color: black;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.button__start:hover {
    border-bottom: 2px solid #63b88b;
}

.button__active {
    border-bottom: 2px solid #63b88b;
}

.container {
    width: 1000px;
    height: 550px;
    margin: 0 auto;
}

.square {
    margin: 0 auto;
    padding-top: 50px;
    width: 500px;
    height: 500px;
    display: none;
}
.square_line1 {
    display: flex;
    justify-content: center;
}
.square_1 {
    width: 100px;
    height: 100px;
    border-bottom: 5px solid #1048A9;
}
.square_2 {
    width: 100px;
    height: 100px;
    border-left: 5px solid #1048A9;
    border-right: 5px solid #1048A9;
    border-bottom: 5px solid #1048A9;
}
.square_3 {
    width: 100px;
    height: 100px;
    border-bottom: 5px solid #1048A9;
}
.square_line2 {
    display: flex;
    justify-content: center;
}
.square_4 {
    width: 100px;
    height: 100px;
    border-bottom: 5px solid #1048A9;
}
.square_5 {
    width: 100px;
    height: 100px;
    border-left: 5px solid #1048A9;
    border-right: 5px solid #1048A9;
    border-bottom: 5px solid #1048A9;
}
.square_6 {
    width: 100px;
    height: 100px;
    border-bottom: 5px solid #1048A9;
}
.square_line3 {
    display: flex;
    justify-content: center;
}
.square_7 {
    width: 100px;
    height: 100px;
}
.square_8 {
    width: 100px;
    height: 100px;
    border-left: 5px solid #1048A9;
    border-right: 5px solid #1048A9;
}
.square_9 {
    width: 100px;
    height: 100px;
}

.restart {
    text-align: center;
}

.button__restart {
    background-color: white;
    border: none;
    color: #63b88b;
    text-decoration: none;
    font-size: 30px;
    padding-top: 10px;
    font-weight: 700;
}